/**
 * This is the main application stylesheet. It should include or import all
 * stylesheets used throughout the application as this is the only stylesheet in
 * the Grunt configuration that is automatically processed.
 */


/**
 * First, we include the Twitter Bootstrap LESS files. Only the ones used in the
 * project should be imported as the rest are just wasting space.
 */

@import '../../vendor/twitter-bootstrap/less/mixins.less';
@import '../../vendor/twitter-bootstrap/less/reset.less';
@import '../../vendor/twitter-bootstrap/less/utilities.less';
@import '../../vendor/twitter-bootstrap/less/scaffolding.less';
@import '../../vendor/twitter-bootstrap/less/type.less';
@import '../../vendor/twitter-bootstrap/less/grid.less';
@import '../../vendor/twitter-bootstrap/less/layouts.less';
@import '../../vendor/twitter-bootstrap/less/navs.less';
@import '../../vendor/twitter-bootstrap/less/navbar.less';
@import '../../vendor/twitter-bootstrap/less/buttons.less';


/**
 * And now any configurations for our custom fonts.
 */

@import 'font-awesome.less';

/**
 * Page Font
 */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Regular'), local('Roboto-Regular'), url(fonts/Roboto-Regular.woff) format('woff');
}


/**
 * This is our main variables file. It in turn imports the `variables` file from
 * Twitter Bootstrap. We must include it last so we can overwrite any variable
 * definitions in our imported stylesheets.
 */

@import 'variables.less';


/**
 * Navigation
 */

.navbar {
  .navbar-inner {
    padding: 0;
  }

  .nav {
    margin: 0;
    display: table;
    width: 100%;

    li {
      display: table-cell;
      width: 1%;
      float: none;

      a {
        font-weight: bold;
        text-align: center;
        border-left: 1px solid rgba(255, 255, 255, 0.75);
        border-right: 1px solid rgba(0, 0, 0, .1);
      }
      
      &:first-child a {
        border-left: 0;
        border-radius: 3px 0 0 3px;
      }
      
      &:last-child a {
        border-right: 0;
        border-radius: 3px 0 0 3px;
      }
    }
  }
}


/**
 * Footer
 */

.footer {
  margin-top: 80px;

  .footer-inner {
    padding: 40px 0;
    border-top: 1px solid #DDD;
  }

  a {
    color: @linkColorHover;

    &:hover {
      color: @linkColor;
    }
  }

  .social {
    float: right;
    margin: 0;
    list-style: none;

    li {
      float: left;
      margin-right: 20px;

      a {
        text-decoration: none;
        font-size: 40px;
        .transition( 250ms ease-in-out );
      }
    }
  }
}


/**
 * Now that all app-wide styles have been applied, we can load the styles for
 * all the submodules and components we are using. 
 *
 * TODO: In a later version of this boilerplate, I'd like to automate this.
 */

@import '../app/home/home.less';

